<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Productos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>VALOR</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos" class="text-center">
                        <td>{{producto.id}}</td>
                        <td>{{producto.valor}}</td>
                        <td>{{producto.nombre}}</td>
                       <button (click)="Editar(producto)" class="btn btn-warning">Editar</button> 
                       <button (click)="Delete(producto)" class="btn btn-danger">Delete</button> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
